[Unit]
Description=SpigotMC
After=network.target

[Service]
ExecStart=bash /tmp/apps/server/spigotstart.sh
Type=simple

[Install]
WantedBy=multi-user.target
